@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fullflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 60rem;
  padding: 1rem;
}

.heading {
  font-size: 4rem;
  color: #ffa64a;
}
