.name_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  div {
    flex: 1 1 0%;
  }
}

.intro {
  font-size: 1.5rem;
}

.pfpimage {
  display: flex;
  max-width: 100%;
}

.pfpcontainer {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border: 2px solid #ffa64a;
  border-radius: 7%;
  transform: rotate(5deg);
  margin: 1rem;

  &:hover {
    transform: rotate(0deg);
    filter: invert(1);
  }
}

.name {
  font-size: 4rem;
}

.subname {
  font-size: 1.75rem;
}

@media only screen and (max-width: 395px) {
  .pfpimage {
    width: 100%;
    justify-content: center;
  }
}
